@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="card">
    <address>
        Cluj-Napoca<br />
        Cluj, Romania 400408<br />
        <abbr title="Phone">P:</abbr>
        +40753941659
    </address>



    <address>
        <strong>Booking:</strong>   <a href="booking@adlv.ro">booking@adlv.ro</a><br />
        <strong>Support:</strong> <a href="adlv@adlv.ro">adlv@adlv.ro</a>
    </address>
</div>