@{
    ViewBag.Title = "Home Page";
}

<div class="white-text-container background-image-container" style="background-image: url('/Content/background photo 6.jpg')">
    <div class="opacity"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h1>Finally! Ad Libitum Voices Shop is here!</h1>
                <p>
                    Now you can shop authentic music merchandise related to your favourite band - Ad Libitum Voices!
                    
                </p>
                <a href="https://www.adlv.ro/" title="" class="btn btn-lg btn-primary">Official Site</a>
            </div>

        </div>
    </div>
</div>

<div class="section-container border-section-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-container-spacer">
                <div class="text-center">
                    <div id="BSN">FEATURED PRODUCTS</div>
                    <p>
                        Here you can find a various selection of our most ordered products:
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/Vinyl_ADLV.jpg" alt="Vinyl" style="width: 100%" />
                    <div class="card-container">
                        <h3>Vinyl Album</h3>
                        <p class="title">39.99 RON</p>
                        <p>Ad Libitum Voices Music Album recorded on vinyl, for a more "classic" sound.</p>
                    </div>
                    <button class="card-button">Add to cart</button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/Bandana_ADLV.jpg" alt="Bandana" style="width: 100%" />
                    <div class="card-container">
                        <h3>Bandana ADLV</h3>
                        <p class="title">29.99 RON</p>
                        <p>Protect yourself in a stylish way, with Ad Libitum Voices bandanas and scarves.</p>
                    </div>
                    <button class="card-button">Add to cart</button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/Keychain_ADLV.jpg" alt="Keychain" style="width: 100%" />
                    <div class="card-container">
                        <h3>Keychain ADLV</h3>
                        <p class="title">19.99 RON</p>
                        <p>Not only to easy find your keys but also to remember who you love the most.</p>
                    </div>
                    <button class="card-button">Add to cart</button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/Matchbox_ADLV.jpg" alt="Matchbox" style="width: 100%" />
                    <div class="card-container">
                        <h3>Matchboxes ADLV</h3>
                        <p class="title">9.99 RON</p>
                        <p>"We didn't start the fire, It was always burning, since the world's been turning."</p>
                    </div>
                    <button class="card-button">Add to cart</button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/Mug_ADLV.jpg" alt="Mug" style="width: 100%" />
                    <div class="card-container">
                        <h3>Mug ADLV</h3>
                        <p class="title">19.99 RON</p>
                        <p>A coffee mug with a lot of music in it for rough mornings.</p>
                    </div>
                    <button class="card-button">Add to cart</button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="~/Content/Tshirt_ADLV.jpg" alt="Tshirt" style="width: 100%" />
                    <div class="card-container">
                        <h3>T-Shirt ADLV</h3>
                        <p class="title">39.99 RON</p>
                        <p>Who's our biggest fan? You are! And now you can show it off with our new T-shits.</p>
                    </div>
                    <button class="card-button">Add to cart</button>
                </div>
            </div>
        </div>    
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">


                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <h2>Our latest videos:</h2>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <iframe width="1038" height="584" src="https://www.youtube.com/embed/IgQ6A7ywtiY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item">
                            <iframe width="1038" height="584" src="https://www.youtube.com/embed/4wO6763BmRI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="item">
                            <iframe width="1168" height="584" src="https://www.youtube.com/embed/mbTY8B6cOZw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="section-container background-color-container white-text-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2>Become V.I.P.</h2>
                    <p>
                        Show us your full support by aquireing a full V.I.P. Membership today!
                        Become one of our closest fans. 
                    </p>
                    <a href="./download.html" title="" class="btn btn-primary btn-lg">Get V.I.P</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="./assets/images/img-06.png" alt="">
            </div>

            <div class="col-md-5">
                <ul class="features">
                    <li>
                        <h3>Benefits:</h3>
                        <p>
                            Get access to premium tickets at Ad Libitum Voices Concerts.
                        </p>
                    </li>
                    <li>
                        <h3>Premium access</h3>
                        <p>
                            Access to premium content on YouTube, and much more..
                        </p>
                    </li>
                    <li>
                        <h3>Meet us</h3>
                        <p>
                            Get in touch with us privately and get premium products at great discounts.
                        </p>
                    </li>
                </ul>
            </div>



            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive page-base-image" src="./assets/images/logo-01.png" alt="">

                </div>
                <div class="col-md-4">
                    <img class="img-responsive page-base-image" src="./assets/images/logo-02.png" alt="">
                </div>
                <div class="col-md-4">
                    <img class="img-responsive page-base-image" src="./assets/images/logo-03.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>






<footer>
    <div class="section-container footer-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor</p>
                </div>

                <div class="col-md-4">
                    <h4>Do you like ? Share this !</h4>
                    <p>
                        <a href="https://facebook.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </p>
                    <p><small>© by Sergiu C.</small></p>
                </div>

                <div class="col-md-4">
                    <h4>Subscribe to newsletter</h4>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control footer-input-text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-newsletter ">OK</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</footer>
