@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ad Libitum Voices Shop</h1>
    <p class="lead">Ad Libitum Voices Shop is the place where you can find any merchandise related to Ad Libitum Voices band.</p>
    <p><a href="https://adlv.ro" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
    <div class="col-md-4">
        <div class="card">
            <h2>We are ADLV</h2>
            <p>
                Grupul Ad Libitum Voices apărut în noiembrie 2012, la Cluj-Napoca si este unul dintre primele grupuri de pop opera din România. Pop opera înseamnă piese pop cunoscute reinterpretate în maniera operei sau operetei. Dar pop opera poate împrumuta cântece, arii, fragmente, motive din operă și muzica clasică pentru a le converti într-o interpretare stilizată în stilul pop, al muzicii ușoare..
            </p>
            <p><a class="fa-icon fa-icon-2x" href="https://www.facebook.com/adlibitumvoices">Mai multe...<i class="fa fa-facebook"></i></a></p>
        </div>
    </div>

    

    <div class="col-md-4">
        <div class="card">
            <h2>Activity</h2>
            <p>În ultimii ani, Ad Libitum Voices a avut foarte multe concerte. Grupul a apărut pe cam toate scenele din Cluj-Napoca, la festivaluri importante, dar și în foarte multe orașe ale României: București, Sibiu, Brașov, Iași, Oradea, Timișoara și multe, multe altele.</p>
            <p><a class="fa-icon fa-icon-2x" href="https://www.youtube.com/channel/UCHETY5NR1_H3CZEubabXIpw">Mai multe...<i class="fa fa-youtube"></i></a></p>
        </div>

    </div>

    
    <div class="col-md-4">
        <div class="card">
            <h2>Important moments</h2>
            <p>
                Momente importante din activitatea grupului:
                – X Factor România 2017, unde a ajuns până în marea finală a concursului.
                – Deschiderea Semifinalei Eurovision România 2018 de la Salina Turda.
                – Casa de Cultură a Studenților Cluj-Napoca, concerte organizate independent de către Ad Libitum Voices în 2018 și 2019, ambele cu sala plină.
            </p>
            <p><a class="fa-icon fa-icon-2x" href="https://www.instagram.com/adlibitumvoices/?hl=ro">Mai multe...<i class="fa fa-instagram"></i></a></p>
        </div>
    </div>

</div>
